$white: #fcfcfc;
$main: #f27a36;
$main-dark: #D3560D;
$main-alt: #db874e;
$main-pale: #E0A886;
$accent: #69c8c6;
$accent-alt: #a6dedd;
$accent-pale: #d2eeee;
$accent-dark: #328685;

$text: #3b4b5f;
$pale-grey: #f9fafb;
$grey: #9AA3AD;
