@import '../colors.scss';
@import '../variables.scss';

.RecipeForm {
    $desktop: 545px;

    .recipes-header {
        height: 7.5rem;

        &:after {
            top: 7.5rem;
        }
    }

    .header-title {
        height: 2.5rem;
        margin: 0;
        display: flex;
        align-items: flex-end;
        margin-bottom: 4rem;

        @media (min-width: $desktop) {
            & {
                margin-top: 2rem;
            }
        }
    }

    button {
        border-radius: $radius;
        color: #fff;
        width: 50vw;
        height: 2.5rem;
        font-size: 1.2rem;
        background-image: linear-gradient(25deg, $accent, $accent-dark);
        box-shadow: 0 0 5px 1px $accent-dark;
        border: none;
        cursor: pointer;
        margin-top: 1rem;

        @media (min-width: $desktop) {
            & {
                width: 10rem;
            }
        }
    }

    .form {
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        min-height: 90vh;

        .form-group {
            display: flex;
            flex-direction: column;

            @media (min-width: $desktop) {
                & {
                    flex-direction: row;

                    .form-item {
                        margin-right: 2rem;
                    }
                }
            }
        }

        .form-item {
            margin-bottom: 1rem;

            span {
                display: block;
            }

            input,
            select,
            textarea {
                margin: 0.5rem 0;
                border: solid $text 1px;
                background-color: #fff;
                border-radius: $radius;
                height: 1.5rem;
                font-size: 1rem;
                padding: 0.25rem 0;
                padding-left: 1rem;
                font-family: inherit;
                -webkit-appearance: none;
                -moz-appearance: textfield;

                &[type=file] {
                    border: none;
                    font-size: 1rem;
                    height: 2.1rem;
                    border-radius: 0;
                    padding: 0;
                    background: none;
                }
            }

            select {
                height: 2rem;
                padding-left: .5rem;
            }

            &.ingredients-fi {
                width: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column;

                @media (min-width: $desktop) {
                    & {
                        flex-direction: row;
                    }
                }
            }

            .new-ingredient,
            &.new-step,
            .create-ingredient {
                margin: 2.5rem 0;
                margin-bottom: 0;
                box-shadow: 0px 8px 20px 1px $accent-pale;
                padding: 1.5rem 5vw;
                border-radius: $radius;
                background-color: #fff;
                transition: all .5s;

                @media (min-width: $desktop) {
                    & {
                        width: 25rem;
                        padding: 1.5rem 25px;
                        margin-right: 5rem;
                    }
                }

                button {
                    display: block;
                }
            }

            .create-ingredient {
                height: auto;
                min-height: 0;

                .form {
                    height: auto;
                    min-height: 0;
                }

                .serving-size {
                    display: inline-block;
                    width: 10vw;
                }

                select.serving-size {
                    margin-left: 2vw;
                    width: 30vw;

                    @media (min-width: $desktop) {
                        & {
                            width: 10rem;
                        }
                    }
                }

                button {
                    width: 30vw;
                    height: 2rem;

                    @media (min-width: $desktop) {
                        & {
                            width: 10rem;
                        }
                    }
                }

                .image-button {
                    background-color: $main;
                }
            }

            .new-ingredient,
            &.new-step {
                strong {
                    display: block;
                    margin-bottom: 1.5rem;
                }

                .ingredient-quantity {
                    width: 10vw;
                    max-width: 50px;
                    margin-left: 1vw;

                    @media (min-width: $desktop) {
                        & {
                            margin-left: 5px;
                        }
                    }
                }

                .ingredient-total {
                    display: inline-block;
                    margin-left: 2vw;

                    @media (min-width: $desktop) {
                        & {
                            margin-left: 10px;
                        }
                    }
                }

                .ingredient-search {
                    list-style: none;
                    padding-left: 5vw;
                    transition: all .5s;

                    li {
                        margin-top: 1rem;
                        cursor: pointer;
                    }
                }

                .step-number {
                    font-size: 1.5rem;
                    font-weight: bold;
                    color: $main;
                    text-align: center;
                }

                textarea {
                    margin-top: 1rem;
                    display: block;
                    width: 90%;
                    height: 5rem;
                    padding-right: 1rem;
                }
            }
        }

        &.form-steps {
            @media (min-width: $desktop) {
                & {
                    flex-direction: row;
                    flex-wrap: wrap;
                    padding-bottom: 5rem;
                    align-items: flex-start;

                    .new-step {
                        height: auto;
                    }
                }
            }
        }
    }
}
