@import '../colors.scss';

header {
    padding-top: 3vh;

    .hamburger-icon {
        width: 9vw;
        position: absolute;
        right: 5vw;
        top: 3vh;
        cursor: pointer;
        z-index: 999;

        &.open {
            position: fixed;

            div {
                display: block;
                background-color: $main;

                &:first-child {
                    transform: rotate(45deg);
                    translate: 0 8px;
                }

                &:nth-child(3) {
                    width: 0;
                    opacity: 0;
                }

                &:nth-child(2) {
                    transform: rotate(-45deg);
                }
            }
        }

        div {
            width: 100%;
            height: 4px;
            margin-top: 4px;
            background-color: #fff;
            border-radius : 5px;
            transition: 450ms;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    nav {
        background-color: #fff;
        width: 100vw;
        height: 100%;
        position: fixed;
        top: 0;
        padding: 1rem 0;
        z-index: 99;
        right: 200vw;
        transition: right 450ms;
        box-shadow: 2px 1px 20px 5px $pale-grey;

        &.open {
            right: 0;
            transition: right 500ms;
        }

        ul {
            list-style: none;
            padding-left: 0;
            padding-top: 4rem;
            display: flex;
            flex-direction: column;

            .user {
                margin-bottom: 3rem;
                border-bottom: 2px solid $pale-grey;
                width: 80vw;
                height: 6rem;
                vertical-align: top;
                padding: 0;
                margin-left: 10vw;

                .avatar {
                    width: 50px;
                    height: 50px;
                    border-radius: 30vw;
                    background-color: $accent;
                    box-shadow: 0px 5px 20px 1px $main-pale;
                    display: inline-block;
                    margin-right: 5vw;
                    overflow: hidden;
                    vertical-align: middle;

                    img {
                        height: 50px;
                    }
                }
            }

            li {
                height: 2rem;
                padding: 1rem 10vw;

                &.active {
                    background-color: $accent-pale;
                    border-left: 1.5vw solid $accent;
                    padding-left: 8.5vw;
                }

                img {
                    height: 2rem;
                    vertical-align: middle;
                    margin-right: 3vw;
                }

                a {
                    text-decoration: none;
                    color: inherit;
                    width: 100%;
                    height: 100%;
                    display: block;

                    &:hover {
                        color: $main;
                    }
                }
            }
        }
    }
}
